dist/
*egg*/
*.swp
build/
**/__pycache__
topology/
data/trj_gro
test/test_data_dist01/trj.dcd
ORIGINALS/
polyangro/ext_libc/MeanSquareDisplacement/
pos.dat
01-PVL4_C0_LOPLS_trj.spunto
traj_comp.part0001_0-20ns.xtc
traj.part0001_0-100ns.trr
traj_comp.part0001_0-100ns.xtc
traj.part0001_0-20ns.trr
01-PVL4_C0_LOPLS_trj.lammpstrj
01-PVL4_C0_LOPLS_trj.pdb
polyanagro.egg-info
test_rename/
examples_backup/
